<div ng-controller="HomeCtrl as home">
    <!-- Four sliders to control the mood settings -->
    <div class="mood-container">
        <!-- FIXME: Remove or alternatively display the slider values  -->
        {{moods.mood1.sliderValue}} {{moods.mood2.sliderValue}} {{moods.mood3.sliderValue}} {{moods.mood4.sliderValue}}
        <div class="row" ng-repeat="mood in moods">
            <div class="col-sm-2">
                <p>{{mood.min}}</p>
            </div>
            <slider class="col-lg-8" ng-model="mood.sliderValue" min="moodMin" max="moodMax" step="1"></slider>
            <div class="col-sm-2">
                <p>{{mood.max}}</p>
            </div>
        </div>
    </div>

    <div class="programme-container">
        <div class="row">
            <div class="col-sm-1"></div>

            <div class="col-lg-2" ng-repeat="programme in programmes">
                <div class="card">
                    <!-- TODO: Replace placeholder images with real image paths -->
                    <img class="card-img-top" src="../imgs/sky_logo.png" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text">{{programme.title}}</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-1"></div>
        </div>
    </div>

</div>