<div ng-controller="HomeCtrl">
    <!-- Four sliders to control the mood settings -->
    <div class="mood-container">
        <div class="row" ng-repeat="mood in moods">
            <div class="col-sm-3">
                <p>{{mood.min}}</p>
            </div>
            <slider class="col-lg-6" ng-model="mood.sliderValue" on-stop-slide="sliderCallback($event,value)" min="moodMin" max="moodMax"
                step="1"></slider>
            <div class="col-sm-3">
                <p>{{mood.max}}</p>
            </div>
        </div>
    </div>

    <div class="programme-container">
        <div class="row">
            <div class="col-sm-1"></div>

            <div class="col-lg-2 slide" ng-repeat="programme in recommendedProgrammes | limitTo: 5">
                <div class="card">
                    <img class="card-img-top" ng-src="{{programme.image_path}}" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text">{{programme.name}}</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-1"></div>
        </div>
    </div>

</div>